{% extends "base_generic.html" %}
{% block title %}<title>Agent access</title>{% endblock %}
{% block content %}
  <h1>Apartments Analytic Tool</h1>
  <p>Welcome to app, a website developed by <em>To Real Matter ltd </em>!</p>
  <h2>Dynamic content</h2>


  <p>The app has the following record counts:</p>
  <ul>
    <li><strong>Apartments :</strong>  {{ num_apts }} </li>
    <li><strong>Buildings :</strong>  {{ num_buildings }} </li>
    <li><strong>Resorts :</strong>  {{ num_resorts }} </li>
    <li><strong>Resale updated :</strong> {{ num_resale }} </li>
    <li><strong>New for sale </strong> {{ num_new_apts }}</li>
  </ul>

  <p>{{ num_visits }} time {{ num_visits|pluralize }}.</p>
{% endblock %}